/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */
 #banner {
	 background: #9c9 !important;
	 padding: 10px !important;
	 border-bottom: 2px solid !important;
	 font: small-caps 40px/40px "Times New Roman", serif !important;
	 color: #282 !important;
	 text-align: center !important;
	 
 }
#banner img {
	  float: left !important;
	 }
 #notice {
	 color: #000 !important;
	 border: 2px solid red !important;
	 padding: 1em !important;
	 margin-bottom: 2em !important;
	 background-color: #f0f0f0 !important;
	 font: bold smaller sans-serif !important;
 }

 #columns {
	 background: #141 !important;
 }

#side {
		 float: left !important;
		 padding: 1em 2em !important;
		 width: 13em !important;
		 background: #141 !important;
}
/*#side form,div {
		display: inline;
}
#side input{
	font-size: small;
}*/
#side ul {
    padding: 0 !important;
}
#side ul li {
     list-style: none !important;

}
#side ul li a{
     color: #bfb !important;
	 font-size: small !important;

}
#main {
	  margin-left: 17em !important;
	  padding: 1em !important;
	  background: white !important;
}
#cart{
	font-size: smaller !important;
	color: white !important;
}
#cart table {
	border-top: 1px dotted #595 !important;
	border-bottom: 1px dotted #595 !important;
	margin-bottom: 10px !important;
}
.item_title{
	font-size: 10px !important;
}
.depot_form  fieldset {
	background: #efe !important;
} 
.depot_form  fieldset legend{
   color: #dfd !important;
	background: #141 !important;
	font-family: sans-serif !important;
	padding: 0.2em 1em !important;
}
.depot_form form label{
    width: 5em !important;
	float: left !important;
	text-align: right !important;
	padding-top: 0.2em !important;
	margin-right: 0.1em !important;
	display: block !important;
}
.depot_form form select, textarea, input{
    margin-left: 0.5em !important;
}
.submit {
	margin-left: 4em !important;
}
.depot_form form br {
	display: none !important;
}
.action_cart{
	display: inline-block !important;
}
#cart .button_to{
	display: inline-block !important;
	-webkit-box-sizing: initial !important;
	-moz-box-sizing:initial !important;
	box-sizing: initial !important;
	color:  !important;
	
}
